@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {

    background-color: rgb(2, 2, 23);
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1,h2,h3,p {
    color: white;
}

h1,h2,h3 {
    font-family: 'Monoton', cursive;
    font-weight: 800;
}


h1 {
    font-size: (35px, 4vw, 80px);
    color: white;
}

h2 {
    font-size: calmp(30px, 4vw, 50px);
    color: white;
}


h3 {
    font-size: clamp(30px, 4vw, 35px);
}

main, section {

    width: 80%;
    margin: 0 auto;
}

p {
    font-size: clamp(17px, 4vw, 23px);
    font-family: 'Space Mono', monospace;
}

a:link,
a:visited {
    color: white;

}

a:hover {
    color: red;
    text-decoration: none;
}

section div {
    background-color: blue;
}

section div h2 {
    color: pink
}
 
section.container figure {
    margin: 0;
    padding: 0;
    margin-right: 15px;
}


section.container div {
    width: 100%;
    margin-bottom: 130px;

}

section.container {
    section.container {
    display: flex;
    flex-direction: column;
    }
}

section.container figure img {
    transition: transform 0.5s ease-in-out;
}

section.container figure img:hover {
    transform: scale(1.3);
    filter:drop-shadow(10px 10px 30px rgb(225, 220, 220, 0.2));

}

 section.container figure summary {
    cursor: pointer;
 }



footer {
    display: flex;
    justify-content: center;
}

